/*CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
black: #141619;
blue: #0a21c0;
gray: #2c2e3a;
dark blue: #050a44;
light gray: #b3b4bd;
*/
:root{
	--primary-color:#efe;/* light mode by default*/
	--secondary-color:#050a44;
	--over-color:#fff;
	--third-color:#1ccadc;
	--line:#0d19a3;
	--head-color:#080f5b;
	--sc-icon:#000;
	--contact-bg:#1c9adc;
	--contact-icon-bg:#5a71ea;
	--footer-bg:#2d5c75;
}
*{
	margin:0;
	padding:0;
	font-size:16px;
	box-sizing:border-box;
	font-family: Poppins, sans-serif;
	font-weight: 400;

}
.light-mode{/* dark mode by default*/
	--primary-color:#050a44;
	--secondary-color:#fff;
	--over-color:#050a44;
	--third-color:#050144;
	--line:#b3b4bd;
	--head-color:#5ab9ea;
	--sc-icon:#03a9fc;
	--contact-bg:#0a148b;
	--contact-icon-bg:#0a148b;
	--footer-bg:#1d2256;
}
body{
	background-color:var(--primary-color);
	color:var(--secondary-color);
	width:100%;
	height:auto;
}
.body1{
	max-width:100%;
	min-height:100vh;
}
/* ---------------------- HEADER -----------------------------------------*/
.navbar{
	position:fixed;
	display:flex;
	justify-content:space-around;
	align-items:center;
	align-content:center;
	color:var(--secondary-color);
	background-color:var(--third-color);
	z-index:1000;
	width:100%;
	height:70px;
	top:0;
	margin-bottom:0.5rem;
}
.navbar #check{
	display:none;
}
.navbar .fa-bars{
	display:none;
}
.logo{
	margin:5px;
	padding:10px;
	font-size:1.5rem;
}
.navbar ul{
	margin:5px;
	padding:10px;	
}
.navbar ul li{
	display:inline;
	justify-content:space-between;
	align-items:center;
	margin:0 5px;
	padding:0 10px 10px 10px;
	list-style-type:none;
	cursor:pointer;
	font-size:1.5rem;
}
a{
	color:var(--secondary-color);
	text-decoration:none
}

/* #check:checked a,.active a{
	color:var(--primary-color);
} */
.list:hover{
	border-bottom:2px solid var(--line);
}
.active {
	/* color:#0a12c0; */
	color:var(--head-color);
	font-weight:600;
	border-bottom:2px solid var(--line);
}
.active a{
	color:var(--head-color);
	font-weight:600;
}
.social{
	/* margin-right:25px; */
}
/* 00a9a3 */

.navbar .mode{
	cursor:pointer;
	margin:5px;
	padding:10px;
	font-size:1.5rem;
}
.fa-sun{
	color:#fff;
}
.fa-moon{
	color:#050a44;
}
/*---------------------- HOME -----------------------------------------*/
#Home .house{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width:100%;
		margin-top:4rem;
}
#Home .home-content{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:left;
		align-content:left;
		margin-top:2.2rem;
		/*margin-left:5rem; */
	/* 	float:left; */
}
.home-content h3{
	margin-left:-2rem;
	padding:0.5rem;
	font-size:1.5rem;
}
.home-content h1{
	margin-left:0.5rem;
	padding:0.3rem;
	font-size:2.5rem;
}
.home-content h2{
	margin-left:1.2rem;
	padding-left:0.5rem;
	font-size:1.5rem;
}
.home-content p{
	margin-left:1.2rem;
	padding:0.5rem;
	font-size:1.15rem;
}
.home-content p b{
	font-weight:800;
}
#Span{
	color:#03a9fc;
	font-size:2.2rem;
}
.bto{
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
}
.bto .btn{/* All button aplicable*/
	background-color:transparent;
	margin:1rem 5rem;
	width:15rem;
	height:3rem;
	border-radius:10px;
	border:2px solid #03a9fc;
	cursor:pointer;
	overflow:hidden;
	color:var(--secondary-color);
	box-shadow:0 5px 15px rgba(10,120,150,.5);
	position:relative;
}
.btn a{
	z-index:1;
	position:relative;
}
.btn::before{
	content:' ';
	position:absolute;
	width:0;
	height:0;
	transform:translate(-35%,-35%);
	transition:width 0.5s ease-in-out,ease-in-out 0.5s linear;
}
.btn:hover::before{
	height:5rem;
	width:15rem;
	background-color:#03a9fc;
	border-radius:0% 2% 80% 0;
	left:0%;
}
.btn:hover a{
	color: var(--over-color); /* var(--primary-color); */
	transition:0.5s ease-in-out;
	font-weight:400;
}
.bto .cv{
	background-color:#03a9fc;
	margin:1rem 5rem;
	width:15rem;
	height:3rem;
	border-radius:10px;
	border:none;
	cursor:pointer;
	overflow:hidden;
	color:var(--secondary-color);
	box-shadow:0 5px 15px rgba(10,120,150,.5);
	position:relative;
}
.bto .cv:hover a{
	color:var(--primary-color);
	transition:0.5s ease-in-out;
}
.home-soci{
	margin:2rem;
	width:80%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.home-soci a{
	margin:1.1rem 1rem;
	text-align:center;
}
.home-soci a i{
	font-size:1.8rem;
	text-align:center;
	padding:0.5rem 0.6rem;
	border-radius:50px;
	border:2px solid #03a9fc;
	color:var(--sc-icon);
}
.home-soci a i:hover{
	box-shadow:0 0 5px 2px #03a9fc,
					inset 0 0 25px 1px #03a9fc,
					inset 0 0 50px 1px #03a9fc,
					0 0 30px 0.5px #03a9fc,
					0 0 60px 1px #03a9fc;
	color:var(--secondary-color);
}
#Home .profile{
	width:50%;
	float:right;
	margin-top:2.2rem;
	padding:2rem;
}
#Home .profile img{
	background-color:#fff;
	margin-left:4rem;
	padding:0.5rem;
	border-radius:50%;
	width:25rem;
	object-fit:cover;
	height:25rem;
	box-shadow:0 0 10px 5px #1bf1f0,
					0 0 15px 5px #03a9fc,
					0 0 30px 5px #03a9fc,
					0 0 50px 5px #03a9fc,
					0 0 80px 5px #03a9fc;
					
}
/*------------------------------------ ABOUT ------------------------------------*/
/* #About{margin-top:4.6rem;} */
#About .about-content{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
 	margin:6rem 0 1.5rem 0; 
	padding-top:0.5rem;
	float:clear;
	/* background:pink; */
}
 .title{
	font-size:3rem;
	padding-right:0.5rem;
	text-align:center;
}

.letter{
	font-size:4.5rem;
	color:#03a9fc;
	font-weight:500;
	text-transform:uppercase;
}
.swipper{
	gap:0.5rem;
}
.wrapper{
	width:1200px;
	height:550px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
	overflow:hidden; 
}
.wrapper .sliders{
	list-style:none;
	width:100%;
	height:90%;
}
.wrapper .sliders .slide{
	user-select:none;  
	display:inline;
	width:100%;
	height:100%;
	padding:2rem;
	border-radius:10px;
	box-shadow:0 4px 10px rgba(0,0,0,0.5);
	background:linear-gradient(transparent,#5ab9ea);
}

.slide h2{
	margin:0 0.5rem 0.5rem 0.5rem;
	text-decoration:underline;
	text-align:center;
	font-size:1.5rem;
}
.slide .objective{
	padding:1rem;
	line-height:2rem;
	text-align:left;
	text-indent:50px;
	
}
.slide .education{
	padding:2rem;
}
.row1{
	width:100%;
	height:100%;
	display:grid;
	grid-template-columns:50% 50%;
	grid-gap:0.5rem;
}
.slide .education [class^="col1"] div h2{
	text-decoration:none;
	text-align:left;
	color:var(--head-color);
	margin:0;
}
.slide .education [class^="col1"] div{
	padding:1rem;
	border:none;
	border-bottom:0.2px solid var(--line);
	/* box-shadow:0px 0 1px rgba(0,0,0,0.5); */
}
.slide .education [class^="col1"] div:hover{
	/* border-bottom:4px solid var(--line); */
	border:none;
	box-shadow:0 0  10px rgba(0,0,0,0.5);
}
.slide .certificate{
	padding:2rem;
	display:grid;
	grid-template-columns:50% 50%;
	grid-gap:1rem;
}
.slide .certificate [class^="col2"] div h2{
	text-decoration:none;
	text-align:left;
	color:var(--head-color);
	margin:0;
}
.slide .certificate [class^="col2"] div{
	padding:1rem;
	border-bottom:1px solid var(--line);
}
.slide .certificate [class^="col2"] div:hover{
	border-bottom:4px solid var(--line)/* #0e7eb3 */;
}
/*.about-content .swiper-pagination{

}
.about-content .swiper-pagination:visited{

}*/
.about-content .swiper-button-prev{
	margin-top:1rem;
}
.about-content .swiper-button-next{
	margin-top:1rem;
}
/*  --------------------- SKILLS ---------------- */
#Skills{margin-top:5rem;}
#Skills .row{
	padding:1rem;
}
#Skills .row .technical-bars{
	padding:0 2rem;
}
.technical-bars h3{
	text-align:left;
	padding:0 5rem;
}
.technical-bars .bar{
	margin:1rem;
	padding-left:2rem;
}
.technical-bars .bar:first-child{
	margin-top:0px;
}
.technical-bars .bar:last-child{
	margin-bottom:0px;
}
.technical-bars .bar .info span{
	padding:0.1rem 0;
	font-size:1.2rem;
	font-weight:400;
	animation:showtext 0.5s 1s linear forwards;
	color:var(--scondary-color);
}

.technical-bars .bar .info{
	opacity:1;
	animation:animate 1s 1s ease-in-out forwards;
	transform:scaleX(0);
	transform-origin:left;
}
.technical-bars .bar .icon{
	opacity:0;
	font-size:1.5rem;
	animation:animatelogo 3s linear forwards;
}
@keyframes animatelogo{
	100%{
		opacity:1;
	}
}
.technical-bars  .bar .progress-line progress{
	position:relative;
	margin-top:0.3rem;
	width:70%;
	height:8px;
	border:none;
	border-radius:10px;
	background-color:black;
}
/* .technical-bars  .bar .progress-line progress{
	position:absolute;
	width:100%;
	height:100%;
	background-color:trans;
	border:none;
	border-radius:10px;
} */
::-moz-progress-bar { background: #03a9fc; }
::-webkit-progress-value { background-color: #03a9fc; }  /* #1bf1f0  chrome*/
.technical-bars  .bar .progress-line{
	animation:animate 1s 1s ease-in-out forwards;
	transform:scaleX(0);
	transform-origin:left;
	background-color:transparent;
}/* }1bf1f0 */
@keyframes animate{
	100%{
		transform:scaleX(1);
	}
}
.technical-bars .bar .info{
	width:70%;
}
.technical-bars .bar .info .HTML5{
	padding-left:67%;
}
.technical-bars .bar .info .CSS3{
	padding-left:65%;
}
.technical-bars .bar .info .Bootstrap{
	padding-left:28%;
}
.technical-bars .bar .info .JavaScript{
	padding-left:40%;
}
.technical-bars .bar .info .React{
	padding-left:30%;
}
.technical-bars .bar .info .SQL{
	padding-left:45%;
}
.technical-bars  .bar .progress-line progress{
	animation:animate 1s 1s ease-in-out forwards;
	transform:scaleX(0);
	transform-origin:left;
}
.html5 span{
	width:95%;
}
.css3 span{
	width:85%;
}
.bootstrap span{
	width:80%;
}
.javascript span{
	width:75%;
}
.react span{
	width:50%;
}
.sql span{
	width:60%;
}
 #Skills .profesional h3{
	padding:0rem 4rem;
}
#Skills .profesional .radial-bars{
	padding:0 5rem;
	margin-left:-8rem;
	margin-top:-3rem;
}
.profesional .radial-bars .radial-bar{
	margin-bottom:20px;
	width:50%;
	height:210px;
	position:relative;
	margin-top:2rem;
}
.radial-bars .radial-bar svg{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)rotate(-90deg);
	width:120px;
	height:160px;
	opacity:0;
	animation:animatelogo 2s linear forwards;
}
/* .radial-bars .radial-bar i{
	margin-top:22%;
	margin-left:-7%;
	font-size:3rem;
} */

.radial-bars .radial-bar progress-bar{
	stroke-width:10;
	stop-color:black;
	fill:transparent;
	stroke-dasharray:502;
	stroke-dashoffset:502;
	srtoke-linecap:round;
	animation:animate-bar 1s linear forwards;
	
}

@keyframes animate-bar{
	100%{
		stroke-dashoffset:-1;
	}
}
.path{
	stroke-width:7;
	stroke:#03a9fc;
	fill:transparent;
	stroke-dasharray:502;
	stroke-dashoffset:502;
	srtoke-linecap:round;	
}
.path-1{animation:animate-path1 1s 1s linear forwards;}
.path-2{animation:animate-path2 1s 1s linear forwards;}
.path-3{animation:animate-path3 1s 1s linear forwards;}
.path-4{animation:animate-path4 1s 1s linear forwards;}

@keyframes animate-path1{
	100%{
		stroke-dashoffset:100;;
	}
}
@keyframes animate-path2{
	100%{
		stroke-dashoffset:250;;
	}
}
@keyframes animate-path3{
	100%{
		stroke-dashoffset:150;;
	}
}
@keyframes animate-path4{
	100%{
		stroke-dashoffset:190;;
	}
}
.radial-bars .radial-bar .percentage{
	position:absolute;
	top:50%;
	left:50%;
	opacity:0;
	color:#fff;
	transform:translate(-50%,-50%);
	font-size:17px;
	font-weight:500;
	animation:showslide 1.5s 1s ease-in-out forwards;
}

@keyframes showslide{
	100%{
		left:50%;
		opacity:1;
	}	
}
.radial-bars .radial-bar .text{
	position:absolute;
	text-align:center;
	width:100%;
	bottom:10px;
	left:50%; 
	transform:translateX(-50%);
	font-size:17px;
	font-weight:500;
	opacity:0;
	animation:textshow 1.5s 1s ease-in-out forwards;
}
@keyframes textshow{
	100%{
		left:50%;
		opacity:1;
	}	
} 
/* -------------- PROJECT ------------------*/
#Project{
	margin:2rem;
	padding:5rem;
	overflow:hidden;
}
#Project h1{
	font-size:3.5rem;
	margin-bottom:3rem;
}
#Project h1 .letter{
	padding-left:0.5rem;
}
#Project .collections{
	width:calc(250px*28);
	height:400px;
	margin-top:2rem;
	background:transparent;
	display:flex;
	align-items:center;
	overflow:hidden;
	/* box-shadow:0 0 40px rgba(0,0,0,0.5); */
	animation:animation-slide 20s linear 10000;
}
@keyframes animation-slide{
	0%{
		transform:translateX(0);
	}
	100%{
		transform:translateX(calc(-250px*9));
	}
}
#Project .collections:hover{
	animation-play-state:paused;
}
#Project .collections .site{
	position:relative;
	width:450px;
	height:100%;
	padding:20px;
	margin-right:1rem;
 	overflow:hidden;
	background:transparent;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#Project .collections .site img{
	width:100%;
	height:100%;
	opacity:1;
	padding:1rem;
	object-fit:center;
	/* box-shadow: 0 5px 30px #14dae0; */
 	box-shadow:0 10px 10px rgba(0,0,0,0.5); 
}
#Project .collections .site .para{
	position:absolute;
	width:100%;
	height:0;
	opacity:0;
	top:0;
	padding:1rem;
	line-height:1.7rem;
	text-align:center;
	background:var(--primary-color);
	/* box-shadow: 0 5px 30px #14dae0; */
	transition:0.5s;
	overflow:hidden;
}
#Project .collections .site .para .tile{
	padding:0.2rem;
}
#Project .collections .site:hover{
	transform:scale(1);
}
#Project .collections .site:hover .para{
	height:100%;
	opacity:1;
}
#Project .collections .site .para p{
	text-align:center;
	margin-top:2rem;
	margin-bottom:2.5rem;
	font-size:0.8rem;
}
#Project .collections .site .para .arrow{
	border:1px solid var(--line);
	border-radius:100%;
	text-align:center;
	padding:0.7rem 0.9rem;
	cursor:pointer;
	background:var(--secondary-color);
	color:var(--primary-color);
}
#Project .collections .site .para .arrow:hover{
	background:var(--primary-color);
	color:var(--secondary-color);	
}
#Project .collections .site .para .arrow i{
	font-size:1.4rem;
}
#Project .collections .site .para .arrow:hover i{
	transform:rotate(-90deg);
	transition:0.5s;
}
/* ******************* CONTACT ********************/
#Contact{
	width:100%;
	height:100vh;
	margin-top:6rem;
	position:relative;
}
#Contact #contact-box{
	margin-top:0;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:white;
	color:black;
	overflow:hidden;
}
#contact-box .text-condent{
	width:100%;
	background-color:#fff;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding-bottom:11rem;
	/* background:red; */
}
label{
	margin-right:0.5rem;
}
p{
	padding-top:1rem;
}
.text-condent input{
	margin:0.5rem 0;
	padding:0.3rem 1rem;
	outline:none;
	border:none;
	border:1px solid #888;
	border-radius:10px;
}
textarea{
	resize:none;
	width:100%;
	height:100px;
	padding:0.2rem 1rem;
	border-radius:5px;
	border:1px solid #888;
	outline:none;
}
.submit{
	border:none;
	margin:1rem 0;
	width:100%;
	padding:0.3rem 0.5rem;
	outline:none;
	border-radius:10px;
	cursor:pointer;
	color:#fff;
	background:var(--contact-bg);
	text-align:center;
	font-size:1.2rem;
	transition:all 0.5s;
}
.submit:hover{
	background:#094996;
}
.box2{
	width:100%;
	height:200px;
	display:flex;
	justify-content:center;
	align-items:center;
	background:var(--contact-bg);
	position:relative;
}
.link-box{
	width:97%;
	position:absolute;
	display:flex;
	justify-content:space-around;
	align-items:center;
	height:200px;
	background:#9b9db4;
	top:-5rem;
}
.link-box .add {
	display:flex;
	justify-content:center;
	align-items:center;
}
.link-box .location address{
	display:block;
	padding-top:4.5rem;
}
.link-box .phone-number {
	display:block;
	justify-content:center;
	align-items:center;
	padding-top:1.5rem 1rem;
}

.link-box .media {
	padding-top:1.5rem;
}
.link-box .add .cont{
	width:100px;
	height:100px;
	border-radius:100%;
	background:var(--contact-icon-bg);
	font-size:3.6rem;
	color:#fff;
	top:-2.3rem;
	position:absolute;
	text-align:center;
	padding:1rem;
}

.link-box .media ul{
	margin:5px;
	padding:10px;	
	display:flex;
	justify-content:center;
	align-items:center;
}
.link-box .media ul li{
	display:flex;
	justify-content:center;
	align-items:center;
	list-style-type:none;
}
.link-box .media ul li i{
	color:#000;
	padding:0 1rem;
}
footer{
	width:100%;
	padding:1.4rem 2rem;
	background:var(--footer-bg);
	color:#fff;
	text-align:center;
	display:flex;
	flex-direction:column;
}
.acknowledgement{
	height:20px;
	padding:2rem 1.5rem;
	background:#3fa;
	color:#000;
	width:30%;
	display:none;
	justify-content:center;
	align-items:center;
	clear:both;
	position:absolute;
	top:0%;
	left:50%;
	border-radius:10px;
	animation:popup 0.5s linear forwards;
	z-index:10000;
}
@keyframes popup{
	from{
		top:0%;
		opacity:0;
	}
	to{
		top:5%;
		opacity:1;
	}
}
.cross-check{
	color:#f00;
	padding:0.5rem;
	display:none;
}
.top{
	position:fixed;
	bottom:0.1rem;
	right:1.0rem;
	z-index:10000;
}
.top i{
	color:var(--primary-color);
	background-color:var(--secondary-color);
	font-size:20px;
	padding:10px;
	border-radius:0.5rem;
}
/*================================================================================================================================================================== */








@media only screen and (max-width:1200px){
	*{
		font-size:16px;
	}
	.home-content{
		width:70%;
	}
	.home-content h3{
		padding:0rem 1.5rem;
	}
	.home-content h1{
		font-size:2rem;
	}
	.home-content p{
		margin-top:0;
	}
	.bto .btn{
		margin-top:0;
	}
	.btn::before{
		transform:translate(-18%,-35%);
	}
	.home-soci{
		margin:0.8rem;
	}
	.home-soci a{
		margin-top:0;
	}
}


@media only screen and (max-width:992px){
	*{
		font-size:16px;
	}
	.navbar .social{
		display:none;
	}
	#Home .home-content{
		width:100%;
		padding:0rem 2rem;
	}
	.home-content h1{
		font-size:1.5rem;
	}
	.home-content #Span{
		font-size:1.6rem;
	}
	.home-content p{
		font-size:1rem;
	}
	.btn::before{
		transform:translate(-15%,-35%);
	}
	.home-soci{
		margin:1rem;
	}
	.home-soci a i{
		font-size:1.3rem;
		margin:0;
		padding:0.4rem 0.5rem;
	}	

/* 	#Home .profile {
		width:100%;
		margin:0;
	}
	#Home .profile img{
		background-color:#fff;
		text-align:center;
		padding:0.2rem;
		border-radius:50%;
		width:15rem;
		height:15rem;
		object-fit:cover;
		box-shadow:0 0 10px 5px #1bf1f0,
					0 0 15px 5px #03a9fc,
					0 0 30px 5px #03a9fc,
					0 0 35px 5px #03a9fc;
	} */
	/* About --------------------------------------*/
	.about-content{
		/* margin */
	}
	.about-content h1{
		font-size:2rem;
	}
	.about-content h1 span{
		font-size:3rem;
	}
	.about-content .wrapper .objective{
		font-size:1rem;
		line-height:1.4rem;
		padding-top:0.6rem 0.1rem;
	}
	.about-content .wrapper .education{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .education [class^="col1"] h2{
		font-weight:700;
		font-size:1.5rem;
	}
	.about-content .wrapper .education .col1 h6,.col1 h5,.col1 small{
		font-size:1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	.about-content .wrapper .certificate{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .certificate [class^="col2"] h2{
		font-weight:700;
	}
	.about-content .wrapper .certificate .col2 h2,.col2 h6,.col2 h5,.col2 small{
		font-size:1.1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	/* SKILLS ----------------------------*/
/* 	.row{
		width:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	} */
	.technical-bars h3{
		text-align:center;
		padding:3rem 4rem;
	}
/* 	.row .radial-bars{
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
	} */
	 #Skills .profesional h3{
		text-align:center;
		padding:3rem 4rem;
	}
	#Skills .profesional .radial-bars{
		padding:0 5rem;
	}
	
/* --------------------------- PROJECT ------------------------------ */
	#Project h1{
	font-size:2.5rem;
	margin-bottom:1rem;
}
#Project h1 .letter{
	padding-left:0.5rem;
	font-size:3rem;
}
#Project .collections{
	width:calc(200px*28);
	height:400px;
	margin:0;
}
#Project .collections .site{
	width:400px;
	height:80%;
	padding:0;
	margin:0;
}
#Project .collections .site img{
 	box-shadow:0 7px 7px rgba(0,0,0,0.5); 
}
#Project .collections .site .para .tile{
	padding-bottom:0;
}
#Project .collections .site .para p{
	margin-top:0rem;
	margin-bottom:1rem;
	font-size:0.7rem;
	line-height:1.45rem;
}
/* --------------------------- CONTACT no changes ------------------------------ */
}  


@media only screen and (max-width:768px){
	*{
		font-size:14px;
	}
	.navbar .social{
		display:none;
	}
	#Home .home-content{
		width:100%;
		padding:0rem 2rem;
	}
	.home-content h1{
		font-size:1.5rem;
	}
	.home-content #Span{
		font-size:1.1rem;
	}
	.home-content p{
		font-size:1rem;
	}
	.home-soci a i{
		font-size:1.3rem;
		margin:0;
		padding:0.4rem 0.5rem;
	}	

/* 	#Home .profile {
		width:100%;
		margin:0;
	}
	#Home .profile img{
		background-color:#fff;
		text-align:center;
		padding:0.2rem;
		border-radius:50%;
		width:15rem;
		height:15rem;
		object-fit:cover;
		box-shadow:0 0 10px 5px #1bf1f0,
					0 0 15px 5px #03a9fc,
					0 0 30px 5px #03a9fc,
					0 0 35px 5px #03a9fc;
	} */
	/* About --------------------------------------*/
	.about-content{
		/* margin */
	}
	.about-content h1{
		font-size:2rem;
	}
	.about-content h1 span{
		font-size:3rem;
	}
	.about-content .wrapper .objective{
		font-size:1rem;
		line-height:1.4rem;
		padding-top:0.6rem 0.1rem;
	}
	.about-content .swiper-button-prev{
		display:none;
	}
	.about-content .swiper-button-next{
		display:none;
	}
	.about-content .wrapper .education{
		width:100%;
		display:grid;
		grid-template-columns:100%;
		grid-gap:1rem;
	}
	.about-content .wrapper .row1{
		margin:0;
		padding:0;
		width:100%;
		display:grid;
		grid-template-columns:100%;
		grid-gap:0.5rem;
	}
	.about-content .wrapper .education [class^="col1"] h2{
		font-weight:700;
		font-size:1rem;
	}
	.about-content .wrapper .education .col1 h6,.col1 h5,.col1 small{
		font-size:1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	.about-content .wrapper .certificate{
		margin:0;
		padding:0;
		width:100%;
		display:grid;
		grid-template-columns:100%;
		grid-gap:1rem;
	}
	.about-content .wrapper .certificate [class^="col2"] h2{
		font-weight:700;
	}
	.about-content .wrapper .certificate .col2 h2,.col2 h6,.col2 h5,.col2 small{
		font-size:1.1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	/* SKILLS ----------------------------*/
	.technical-bars h3{
		text-align:center;
		padding:3rem 4rem;
	}
	 #Skills .profesional h3{
		text-align:center;
		padding:3rem 4rem;
	}
	#Skills .profesional .radial-bars{
		padding:0 5rem;
	}
	
/* --------------------------- PROJECT ------------------------------ */
	#Project h1{
	font-size:2.5rem;
	margin-bottom:1rem;
}
#Project h1 .letter{
	padding-left:0.5rem;
	font-size:3rem;
}
#Project .collections{
	width:calc(200px*28);
	height:400px;
	margin:0;
}
#Project .collections .site{
	width:400px;
	height:80%;
	padding:0;
	margin:0;
}
#Project .collections .site img{
 	box-shadow:0 7px 7px rgba(0,0,0,0.5); 
}
#Project .collections .site .para p{
	margin-top:0rem;
	margin-bottom:2rem;
	font-size:0.87rem;
	line-height:1.5rem;
}
/* --------------------------- CONTACT ------------------------------ */
#Contact{
	margin-top:11rem;
}
#contact-box{
	/* overflow:none; */
}
#contact-box .text-condent{
	padding:0 3rem 5rem 3rem;
}
label{
	margin:0.5rem 0.5rem;
}
textarea{
	margin-top:0.6rem;
}

.box2{
	width:100%;
	height:650px;
	display:flex;
	justify-content:center;
	align-items:center;
	background:var(--contact-bg);
	position:static;
	padding:2rem 1rem;
}
.link-box{
	width:60%;
	height:100%;
	margin:0 2rem;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background:transparent;
	position:static;
}
.link-box .add {
	width:80%;
	height:250px;
	margin:2rem 1rem;
	background:#aae;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	border-radius:10px;
	padding:0.6rem;

}
.link-box .location address{
	padding-top:0.5rem;
}
.link-box .add .cont{
	width:70px;
	height:70px;
	font-size:3.6rem;
	padding:1rem;
	position:relative;
	top:0;
}
.link-box .media{
	padding:0;
	margin:0;
}
.link-box .media ul li i{
	font-size:2rem;
}
footer{
	width:100%;
	padding:1.4rem 2rem;
	background:var(--footer-bg);
	color:#fff;
	text-align:center;
	display:flex;
	flex-direction:column;
}
.acknowledgement{
	height:20px;
	padding:2rem 1.5rem;
	background:#3fa;
	color:#000;
	width:50%;
	display:none;
	justify-content:center;
	align-items:center;
	clear:both;
	position:absolute;
	top:8%;
	left:50%;
	border-radius:10px;
	animation:popup 0.5s linear ;
	z-index:100;
}
}  


@media only screen and (max-width:600px){
	*{
		font-size:12px;
	}
	.navbar .menu{
		position:fixed;
		width:100%;
		margin:-300px 2px 0 200px;
		display:none;
		transition:0.5;
	}
	.navbar .list{
		display:block;
		justify-content:center;
		margin-bottom:1rem;
	}
	.navbar .list:hover,a:hover{
		border:none;
		color:#0a9ec0;
		font-weight:400;
	}
	.navbar .icons{
		display:none;
	}
	.navbar .fa-bars{
		display:block;
}
	.navbar .fa-bars{
		margin-left:100px;
		font-size:1.5rem;
		cursor:pointer;
	}
	.navbar #check:checked ~ .menu{
		display:block;
		margin-top:300px;
		z-index:10;
		background-color:var(--primary-color);
		box-shadow:0 5px 10px rgba(0,0,0,0.5);
	}
	#Home .home-content{
		width:100%;
		padding:3rem 2rem;
		margin:1.5rem 1rem;
	}
	.home-content h1{
		font-size:1.5rem;
	}
	#Span{
		font-size:3.7rem;
	}
	.home-content p{
		font-size:1rem;
	}
	.home-soci a i{
		font-size:1.3rem;
		margin:0;
		padding:0.4rem 0.5rem;
	}	
	.bto{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
		width:100%;
	}
	.btn:before{
		transform:translate(-15%,-35%);
	}

/* 	#Home .profile {
		width:100%;
		margin:0;
	}
	#Home .profile img{
		background-color:#fff;
		text-align:center;
		padding:0.2rem;
		border-radius:50%;
		width:15rem;
		height:15rem;
		object-fit:cover;
		box-shadow:0 0 10px 5px #1bf1f0,
					0 0 15px 5px #03a9fc,
					0 0 30px 5px #03a9fc,
					0 0 35px 5px #03a9fc;
	} */
	/* About --------------------------------------*/
	.about-content{
		/* margin */
	}
	.about-content h1{
		font-size:2rem;
	}
	.about-content h1 span{
		font-size:3rem;
	}
	.about-content .wrapper .objective{
		font-size:1rem;
		line-height:1.4rem;
		padding-top:0.6rem 0.1rem;
	}
	.about-content .swiper-button-prev{
		display:none;
	}
	.about-content .swiper-button-next{
		display:none;
	}
	.about-content .wrapper .education{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .education [class^="col1"] h2{
		font-weight:700;
		font-size:1.5rem;
	}
	.about-content .wrapper .education .col1 h6,.col1 h5,.col1 small{
		font-size:1.1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	.about-content .wrapper .certificate{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .certificate [class^="col2"] h2{
		font-weight:700;
	}
	.about-content .wrapper .certificate .col2 h2,.col2 h6,.col2 h5,.col2 small{
		font-size:1.5rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	/* SKILLS ----------------------------*/
	.technical-bars h3{
		text-align:center;
		padding:3rem 4rem;
	}
	 #Skills .profesional h3{
		text-align:center;
		padding:3rem 4rem;
	}
	#Skills .profesional .radial-bars{
		padding:0 5rem;
	}
	
/* --------------------------- PROJECT ------------------------------ */
	#Project h1{
	font-size:2.5rem;
	margin-bottom:1rem;
}
#Project h1 .letter{
	padding-left:0.5rem;
	font-size:3rem;
}
#Project .collections{
	width:calc(200px*28);
	height:400px;
	margin:0;
	padding:0;
}
#Project .collections .site{
	width:350px;
	height:80%;
}
#Project .collections .site img{
 	box-shadow:0 7px 7px rgba(0,0,0,0.5); 
}
#Project .collections .site .para p{
	margin-top:1rem;
	font-size:0.98rem;
	line-height:1.8rem;
}
/* --------------------------- CONTACT ------------------------------ */
#Contact{
	margin-top:11rem;
}
#contact-box{
	/* overflow:none; */
}
#contact-box .text-condent{
	padding:0 3rem 5rem 3rem;
}
label{
	margin:0.5rem 0.5rem;
}
textarea{
	margin-top:0.6rem;
}
.link-box .location address{
	padding-top:0.5rem;
}
.link-box .add .cont{
	width:70px;
	height:70px;
	font-size:3.6rem;
	padding:1rem;
	position:relative;
	top:0;
}
.link-box .media{
	padding:0;
	margin:0;
}
.link-box .media ul li i{
	font-size:2rem;
}
footer{
	width:100%;
	padding:1.4rem 2rem;
	background:var(--footer-bg);
	color:#fff;
	text-align:center;
	display:flex;
	flex-direction:column;
}
.acknowledgement{
	height:20px;
	padding:2rem 1.5rem;
	background:#3fa;
	color:#000;
	width:50%;
	display:none;
	justify-content:center;
	align-items:center;
	clear:both;
	position:absolute;
	top:8%;
	left:50%;
	border-radius:10px;
	animation:popup 0.5s linear ;
	z-index:100;
}
} 
@media only screen and (max-width:325px){
	*{
		font-size:10px;
	}
	.navbar .menu{
		position:fixed;
		width:100%;
		margin:-300px 2px 0 200px;
		display:none;
		transition:0.5;
	}
	.navbar .list{
		display:block;
		justify-content:center;
		margin-bottom:1rem;
	}
	.navbar .list:hover,a:hover{
		border:none;
		color:#0a9ec0;
		font-weight:400;
	}
	.navbar .icons{
		display:none;
	}
	.navbar .fa-bars{
		display:block;
}
	.navbar .fa-bars{
		margin-left:100px;
		font-size:1.5rem;
		cursor:pointer;
	}
	.navbar #check:checked ~ .menu{
		display:block;
		margin-top:300px;
		z-index:10;
		background-color:var(--primary-color);
		box-shadow:0 5px 10px rgba(0,0,0,0.5);
	}
	#Home .home-content{
		width:100%;
		padding:3rem 2rem;
		margin:1.5rem 1rem;
	}
	.home-content h1{
		font-size:1.5rem;
	}
	#Span{
		font-size:3.7rem;
	}
	.home-content p{
		font-size:1rem;
	}
	.home-soci a i{
		font-size:1.3rem;
		margin:0;
		padding:0.4rem 0.5rem;
	}	
	.bto{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
		width:100%;
	}
	.btn:before{
		transform:translate(-15%,-35%);
	}

/* 	#Home .profile {
		width:100%;
		margin:0;
	}
	#Home .profile img{
		background-color:#fff;
		text-align:center;
		padding:0.2rem;
		border-radius:50%;
		width:15rem;
		height:15rem;
		object-fit:cover;
		box-shadow:0 0 10px 5px #1bf1f0,
					0 0 15px 5px #03a9fc,
					0 0 30px 5px #03a9fc,
					0 0 35px 5px #03a9fc;
	} */
	/* About --------------------------------------*/
	.about-content{
		/* margin */
	}
	.about-content h1{
		font-size:2rem;
	}
	.about-content h1 span{
		font-size:3rem;
	}
	.about-content .wrapper .objective{
		text-align:left;
		font-size:1rem;
		line-height:1.4rem;
		padding-top:0.6rem 0.3rem;
	}
	.about-content .swiper-button-prev{
		display:none;
	}
	.about-content .swiper-button-next{
		display:none;
	}
	.about-content .wrapper .education{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .education [class^="col1"] h2{
		font-weight:700;
		font-size:1.5rem;
	}
	.about-content .wrapper .education .col1 h6,.col1 h5,.col1 small{
		font-size:1.1rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	.about-content .wrapper .certificate{
		margin:0;
		padding:0;
	}
	.about-content .wrapper .certificate [class^="col2"] h2{
		font-weight:700;
	}
	.about-content .wrapper .certificate .col2 h2,.col2 h6,.col2 h5,.col2 small{
		font-size:1.5rem;
		padding:0;
		font-weight:300;
		margin:0;
	}
	/* SKILLS ----------------------------*/
	.technical-bars h3{
		font-size:2rem;
		text-align:center;
		padding:3rem 4rem;
	}
	/*#Skills .profesional{
		width:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center; 
	} */
	#Skills .profesional .row{
		width:100%;
		margin:0.5rem;
		display:flex;
		/* 	flex-direction:column; */
		justify-content:space-between;
		align-items:center;
		overflow:hidden;
	}
	#Skills .profesional .radial-bar{
		width:100%;
		padding:0;
		margin:-15px;
	}
	 #Skills .profesional .text{
		font-size:1.5rem; 
	 }
	 #Skills .profesional h3{
		font-size:2rem;
		text-align:center;
		padding:3rem 4rem;
	}
	#Skills .profesional .radial-bars{
		padding:0 5rem;
	}
	
/* --------------------------- PROJECT ------------------------------ */
	#Project h1{
	font-size:2.5rem;
	margin-bottom:1rem;
}
#Project h1 .letter{
	padding-left:0.5rem;
	font-size:3rem;
}
#Project .collections{
	width:calc(200px*28);
	height:340px;
	margin:0;
	padding:0;
}
#Project .collections .site{
	width:280px;
	height:80%;
}
#Project .collections .site img{
 	box-shadow:0 7px 7px rgba(0,0,0,0.5); 
}
#Project .collections .site .para p{
	margin-top:1rem;
	font-size:0.98rem;
	line-height:1.8rem;
}
/* --------------------------- CONTACT ------------------------------ */
#Contact{
	margin-top:11rem;
}
#contact-box{
	/* overflow:none; */
}
#contact-box .text-condent{
	padding:0 3rem 5rem 3rem;
}
label{
	margin:0.5rem 0.5rem;
}
textarea{
	margin-top:0.6rem;
}
.link-box .location address{
	padding-top:0.5rem;
	font-size:1.3rem;
	text-align:center;
}
.link-box .phone-number h6{
	font-size:2rem;
}
.link-box .add{
	width:200px;
}
.link-box .add .cont{
	width:70px;
	height:70px;
	font-size:3.6rem;
	padding:1rem;
	position:relative;
	top:0;
}
.link-box .media{
	padding:0;
	margin:0;
}
.link-box .media ul li i{
	font-size:2rem;
}
footer{
	width:100%;
	padding:1.4rem 2rem;
	background:var(--footer-bg);
	color:#fff;
	text-align:center;
	display:flex;
	flex-direction:column;
}
.acknowledgement{
	height:20px;
	padding:2rem 1.5rem;
	background:#3fa;
	color:#000;
	width:50%;
	display:none;
	justify-content:center;
	align-items:center;
	clear:both;
	position:absolute;
	top:8%;
	left:50%;
	border-radius:10px;
	animation:popup 0.5s linear ;
	z-index:100;
}
} 
